<div class="container">
<div class="row">  
<%= render  'users/list', user: @user %>


<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>  
<table class="table">

<tbody>
<tr>
  <td><%= link_to user_path(@user.id) do %>
    <%= image_tag @user.get_profile_image(200,200) %>
    <br>
    <%= @user.name %>
    <% end %>
    </td>
  <td><%= @book.title %></td>
  <td><%= @book.body %></td>
  <td>
      <% if current_user == @book.user %>
  　　<%= link_to "Edit", edit_book_path(@book.id) %>
  　　<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  　　<% end %>
  </td>
</tr>
</tbody>

</table>
    
</div>
</div>
</div>